/* Color */
$darkPrimaryColor: #4B81A3;
$lightPrimaryColor: #C5CAE9;
$primaryColor: #8CB2CA;
$texticons: #FFFFFF;
$accentColor: #E91E63;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$dividerColor: #BDBDBD;